/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    text-align: center;
    vertical-align: middle;
    background-color: #F3F5F7;
    /* background-color: #DADADA; */
    display: flex;
    flex-direction: column;
}

.form {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    padding: 20px;
    background-color: skyblue;
    color: white;
    border-radius: 25px;
    order: 1;
    
}

.rec-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    padding: 20px;
    background-color: skyblue;
    color: white;
    border-radius: 25px;
    order: 0;
}