<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>話者認識</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <!-- <h1>試しに{#{text}#}</h1> -->
    <!-- {#% for i in range(text|length) %#} -->
    <!-- <p>{#{ text[i] }#}</p> -->
    <!-- {#% endfor %#} -->
    <div class="form">
        <p>話者認識をしたい音声を選んで送信ボタンを押してください</p>
        <form action="/" method="post" enctype="multipart/form-data">
            <select name="whichModel" default="all.pickle">
                <option value="all.pickle">全て</option>
                <option value="men.pickle">男性</option>
                <option value="women.pickle">女性</option>
            </select>
            <input type="file" name="file">
            <input type="submit">
        </form>
    </div>

    <div class="rec-container">
        <p>録音は下のStartボタンを押すと行われます</p>
        <p>Stopボタンを押すと音声がダウンロードされます</p>
        <button id="start">Start</button>
        <button id="stop" disabled>Stop</button>
        <a hidden id="download">Download</a>
    </div>

    <!-- <div><a href="#">使い方</a></div> -->






    <script type="text/javascript" src="{{url_for('static', filename='js/recorder.js')}}"></script>
</body>
</html>