<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>話者認識</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>ututteiru?</h1>
    <h1>試しに{{text}}</h1>
    {% for i in range(text|length) %}
    <p>{{ text[i] }}</p>
    {% endfor %}
    <script type="text/javascript" src="{{url_for('static', filename='js/sokudoku-annki.js')}}"></script>
</body>
</html>